<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>Library</display-name>

    <icon>
        <large-icon>/favicon.gif</large-icon>
    </icon>
    <icon>
        <small-icon>/favicon.gif</small-icon>
    </icon>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>

    <servlet>
        <display-name>Controller</display-name>
        <servlet-name>Controller</servlet-name>
        <servlet-class>by.epam.eshop.controller.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditUsers</servlet-name>
        <jsp-file>/WEB-INF/jsp/edit_users_page.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditUsers</servlet-name>
        <url-pattern>/admin/edit_users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditCategories</servlet-name>
        <jsp-file>/WEB-INF/jsp/edit_categories_page.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditCategories</servlet-name>
        <url-pattern>/admin/edit_categories</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditProducts</servlet-name>
        <jsp-file>/WEB-INF/jsp/edit_products_page.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditProducts</servlet-name>
        <url-pattern>/admin/edit_products</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditOrders</servlet-name>
        <jsp-file>/WEB-INF/jsp/edit_orders_page.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditOrders</servlet-name>
        <url-pattern>/admin/edit_orders</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditCoupons</servlet-name>
        <jsp-file>/WEB-INF/jsp/edit_coupons_page.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditCoupons</servlet-name>
        <url-pattern>/admin/edit_coupons</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Cart</servlet-name>
        <jsp-file>/WEB-INF/jsp/cart.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserPage</servlet-name>
        <jsp-file>/WEB-INF/jsp/user_page.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserPage</servlet-name>
        <url-pattern>/user_page</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrderPage</servlet-name>
        <jsp-file>/WEB-INF/jsp/order_page.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>OrderPage</servlet-name>
        <url-pattern>/order_page</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>CheckRole</filter-name>
        <filter-class>by.epam.eshop.controller.filter.CheckRoleFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CheckRole</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>by.epam.eshop.controller.listener.ApplicationListener</listener-class>
    </listener>

</web-app>